<html>
    <head>
        <title>Ami's blog</title>
    </head>
    <body>
      <div>
          <h1><a href="">Ami Shah's Blog</a></h1>
      </div>

      <div>
          <p>published: 7.21.2017, 10:22</p>
          <h2><a href="">Welcome!</a></h2>
          <p>Hello Everyone! I am Ami Shah. Welcome to my Blog!</p>
      </div>

      <div>
          <p>published: 7.21.2017, 10:23</p>
          <h2><a href="">Girls Who Code</a></h2>
          <p>I am currently in Girls who Code and we just created our own blog! This is it!</p>
      </div>
    </body>
</html>
